<!-- HOME -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">

        <div class="wrapper-page">

          <div class="account-pages">
            <div class="account-box">
              <div class="account-logo-box">
                <h2 class="text-uppercase text-center">
                  <a href="/overview" class="logo">
                    <span class="logo-large">
                      <i class="mdi mdi-radar"></i>
                      {{ label.title }}
                    </span>
                  </a>
                </h2>
              </div>
              <div class="account-content">
                <div id="bd-signin" class="form-horizontal">
                  <div class="form-group m-b-20 row">
                    <div class="col-12">
                      <label for="emailaddress">Identificador</label>
                      <input class="form-control" id="emailaddress" required="" placeholder="Seu e-mail ou celular">
                    </div>
                  </div>

                  <div class="form-group row m-b-20">
                    <div class="col-12">
                      <a href="page-recoverpw.html" class="text-muted pull-right">
                        <small>Precisa de ajuda?</small>
                      </a>
                      <label for="password">Palavra passe</label>
                      <input class="form-control" type="password" required="" id="password" placeholder="Digite a sua senha">
                    </div>
                  </div>

                  <div class="form-group row m-b-20">
                    <div class="col-12">

                      <div class="checkbox checkbox-success">
                        <input id="remember" type="checkbox" checked="">
                        <label for="remember">
                          Lembrar meus dados
                        </label>
                      </div>

                    </div>
                  </div>

                  <div class="form-group row text-center m-t-10">
                    <div class="col-12">
                      <button id="ca-signin" class="btn btn-block btn-gradient waves-effect waves-light gb-bold">Entrar</button>
                    </div>
                  </div>

                </div>

                <div class="row m-t-50">
                  <div class="col-sm-12 text-center">
                    <p class="text-muted">Precisa de uma conta?
                      <a href="page-register.html" class="text-dark m-l-5">
                        <b>Registre-se</b>
                      </a>
                    </p>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <!-- end card-box-->


        </div>
        <!-- end wrapper -->

      </div>
    </div>
  </div>
</section>
<!-- END HOME -->
