<!-- HOME -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">

        <div class="wrapper-page">

          <div class="account-pages">
            <div class="account-box">
              <div class="account-logo-box">
                <h2 class="text-uppercase text-center">
                  <a href="/login" class="logo">
                    <span class="logo-large">
                      <i class="mdi mdi-radar"></i>
                      {{ label.title }}
                    </span>
                  </a>
                </h2>
              </div>
              <div class="account-content">
                <form class="form-horizontal" action="#">

                  <div class="form-group row m-b-20">
                    <div class="col-12">
                      <label for="username">Identificação</label>
                      <input class="form-control" type="email" id="username" required="" placeholder="Seu nome completo">
                    </div>
                  </div>

                  <div class="form-group row m-b-20">
                    <div class="col-12">
                      <label for="emailaddress">Convite</label>
                      <input class="form-control" type="email" id="emailaddress" required="" placeholder="O e-email fornecido pela escola">
                    </div>
                  </div>

                  <div class="form-group row m-b-20">
                    <div class="col-12">
                      <label for="password">Segurança</label>
                      <input class="form-control" type="password" required="" id="password" placeholder="Escolha uma senha para sua conta">
                    </div>
                  </div>

                  <div class="form-group row m-b-20">
                    <div class="col-12">

                      <div class="checkbox checkbox-success">
                        <label class="app__consent">
                          Ao registrar-se, você concorda que leu, entendeu e aceitou os
                          <a href="#">Termos de Serviço</a>, concluindo assim, seu registro.
                        </label>
                      </div>

                    </div>
                  </div>

                  <div class="form-group row text-center m-t-10">
                    <div class="col-12">
                      <button class="btn btn-block btn-gradient waves-effect waves-light gb-bold" type="submit">Concluir registro</button>
                    </div>
                  </div>

                </form>

                <div class="row m-t-50">
                  <div class="col-sm-12 text-center">
                    <p class="text-muted">Já possui uma conta?
                      <a href="/login" class="text-dark m-l-5">
                        <b>Faça Login</b>
                      </a>
                    </p>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <!-- end card-box-->


        </div>
        <!-- end wrapper -->

      </div>
    </div>
  </div>
</section>
<!-- END HOME -->
